---
---

@charset "UTF-8";

@import "{{ site.theme }}";

@import url("https://cdn.clarkhacks.com/OpenDyslexic/v3/OpenDyslexic.css");

.markdown-body {
  font-family: opendyslexic;

  h1:nth-of-type() {
    margin-bottom: -2em;
    position: relative;
    top: -2.3em;
    z-index: -1;
  }
}
