---
sass:
  style: compressed
---

@charset "UTF-8";

/*=======( Original Theme )===================================================*/
@import "{{ site.theme }}";

/*=======( Theme Overrides )==================================================*/
h1, h2, h3 {
  font-family: flood-std, sans-serif;
}

.footer {
  display: none;
}

.markdown-body {
  h1 {
    font-size: 8vw;
    font-weight: normal;
    line-height: 0.85;
    text-align: center;
    width: 100%;
  }

  font-size: 125%;
}

/*=======( Custom Elements )==================================================*/
.unimportant {
  color: #666;
}

.word-count {
  float: right;
  margin-right: 1em;
}

/*=======( Font Related )=====================================================*/
/*-------( Fonts )------------------------------------------------------------*/
.dyslexic,
.dyslexic .markdown-body {
  font-family: opendyslexic, sans-serif;
}

.lora,
.lora .markdown-body {
  font-family: lora, serif;
}

/*-------( Font Switcher )----------------------------------------------------*/
.font-switcher {
  :hover {
    border-bottom: 1px solid;
    color: inherit;
  }

  background: inherit;
  border: none;
}

.font-switcher-form {
  margin-top: 1em;
  text-align: right;
  width: 99%;
}


/*=======( Page Specific )====================================================*/
.gunk {
  h1 {
    font-size: 15vw;
  }
  .license {
    display: none;
  }
}
